(
    width: 10.0,
    height: 10.0,
    walls: None,
    timelimit: 10,
    step_radius: 1.0,
    term_radius: 0.5,
    spawn_radius_max: Some(1.5),
    spawn_radius_min: None,
    spawn_centers: None,
    bounce_factor: 0.1,
    reward: Sparse,
    seed: 42,
)